.menu {
  display: block;
  text-indent: -9999px;
}

.menu::before,
.menu::after,
.menu > .center {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #707070;
  border-radius: 2px;
}

.menu::before,
.menu > .center {
  margin-bottom: 4px;
}
